
Progetti 3D Totale/Teamwork_Pikachu 2024-2025/Geo/GRP_RobotBody_001.assbin
Progetti 3D Totale/Teamwork_Pikachu 2024-2025/Textures/Test_Texturing_CharRobot_001.spp
Maya/Lezione Baldini Pantaloni Crye 3 DEF 2/Pants_V.001
Progetti 3D Totale/Teamwork_Pikachu 2024-2025/Textures/Test_Texturing_PantsG3.spp
Progetti 3D Totale/Test_Texturing_PantsG3.spp
